<div class="mt-5">
    <h1>Publicaciones del blog</h1>
    <% @post.each do |u| %>
        <hr>
        <h4><%= u.title %></h4>
        <div class="row">
            <div class="col-8">
                <p><%= u.content%></p>
            </div>
            <div class="col-4"><img src="<%= u.url%>" alt="img"></div>
        </div>
    <%end%>
</div>